section {
    height: 75vh;
}

.card {
    max-width: 15em !important;
    margin: 0% 2%;
}

#btm-btn {
    margin-left: 4.5rem;
    margin-bottom: 2rem;
}

#landing {
    background-image: url(./images/bg-intro-desktop.svg);
    background-position: 400% 80%;
    background-repeat: no-repeat;
}

#mockups {
    margin-top: -8%;
    margin-right: -8%;
    z-index: 0;
}

.landing-text {
    padding: 10rem 10rem ;
}

.second-text {
    padding-right: 40rem !important;
    margin-left: 6rem;
}

#third h2 {
    margin-left: 12rem;
}